<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "general/header"}}
    <!-- <script src="https://cdn.tailwindcss.com"></script>
    <script src="jquery-3.6.0.min.js"></script> -->
  </head>
  <body>
    <div
      class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12"
    >
      <div class="relative py-3 sm:max-w-xl sm:mx-auto">
        <div
          class="relative px-4 py-10 bg-white mx-8 md:mx-0 shadow rounded-3xl sm:p-10"
        >
          <div class="max-w-md mx-auto">
            <div class="flex items-center space-x-5">
              <div
                class="block pl-2 font-semibold text-xl self-start text-gray-700"
              >
                <h3 class="leading-relaxed">Add New Task</h3>
                <p class="text-sm text-gray-500 font-normal leading-relaxed">
                  Add your task here
                </p>
              </div>
            </div>

            <form action="/task/create?category={{ .data }}"></form>
            <div class="divide-y divide-gray-200">
              <div
                class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7"
              >
                <div class="flex flex-col">
                  <label class="leading-loose">Title</label>
                  <input
                    type="text"
                    name="title"
                    class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                    placeholder="Title"
                  />
                </div>
                <div class="flex flex-col">
                  <label class="leading-loose">Description</label>
                  <input
                    type="text"
                    name="description"
                    class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                    placeholder="Description"
                  />
                </div>
              </div>
              <div class="pt-4 flex items-center space-x-4">
                <a href="/dashboard">
                  <button
                    class="flex justify-center items-center w-full text-gray-900 px-4 py-2 rounded-xl text-sm focus:outline-none hover:bg-red-700 hover:text-white transition duration-300"
                  >
                    <svg
                      class="w-6 h-6 mr-3"
                      fill="none"
                      stroke="currentColor"
                      viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M6 18L18 6M6 6l12 12"
                      ></path>
                    </svg>
                    Cancel
                  </button>
                </a>
                <button
                  class="bg-purple-600 flex justify-center items-center w-full text-white text-sm px-4 py-2 rounded-xl focus:outline-none hover:bg-purple-400 transition duration-300"
                  type="submit"
                >
                  Create
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
